@import "src/styles/base/variables";

.error {
  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    &__title {
      font-size: $title-md-font-size;
      font-weight: bold;
      color: $red-color;
      margin-bottom: 16px;
    }

    &__description {
      font-size: $font-size-md;
      color: $dark-gray-color;
    }
  }
}
