@import "src/styles/base/variables";
@import "src/styles/base/mixin";

.swiper {
  &-container {
    padding-top: 89px;
    padding-bottom: 27px;
  }

  &-wrapper {
    align-items: center;
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 790px;
    height: 438px;

    @include media-xl {
      width: 75%;
    }

    @include media-lg {
      width: 100%;
      max-width: 524px;
      height: 338px;
    }

    @include media-md {
      max-width: 400px;
    }

    @include media-sm {
      max-width: 324px;
      height: 238px;
    }

    img {
      display: block;
      object-fit: cover;
    }

    &-active {
      height: 493px;

      @include media-lg {
        height: 393px;
      }

      @include media-sm {
        height: 238px;
      }
    }
  }

  &-navigation {
    width: 160px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-sm {
      margin-top: 27px;
    }

    &__button {
      font-weight: 300;
      font-size: $slider-button-font-size;
      line-height: 75px;
      color: $white-color;
    }
  }
}
